.underblock {
  background-image: url("/src/components/UnderBlock/background-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: -2;
  height: 400px;
  display: flex;
  align-items: flex-end;
}

.underblock__overlay {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  z-index: -1;
}

.underblock__title {
  width: 800px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.underblock__title__link {
  color:#f0f0f0;
  font-weight: 700;
  font-size:70px;
  text-decoration: none;
  font-family: "Roboto Slab",sans-serif;
}
